.whole {
    margin-top: 96px;
    padding: 32px 40px;
    width: 100%;
}

.bankingHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}
.bankingHeader h2 {
    font-size: 32px;
    font-weight: 600;
    color: #36394A;
}


.secondHeader {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 24px;
}
.totalBal {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.totalBal div {
    display: flex;
    gap: 8px;
    align-items: center;
}
.totalBal h5 {
    font-size: 18px;
    font-weight: 500;
    color: #6B7280;
}
.totalBal h3 {
    font-size: 28px;
    font-weight: 600;
    color: #374151;;
}
.totalBal div button {
    background: transparent;
    border: none;
    outline: none;
}


.secondHeader .buttons {
    display: flex;
    gap: 8px;
    align-items: center;
}
.buttons .buttonOne {
    border: none;
    outline: none;
    background: transparent;
}
.buttons .buttonTwo {
    background: transparent;
    border: 1px solid #D6301F;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    color: #D6301F;
    font-size: 16px;
    font-weight: 500;
}
.buttons .buttonThree {
    background: #000000;
    border: none;
    color: #FFFFFF;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
}

.periods {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ECEFF3;
    border-radius: 8px;
    padding: 4px 4px 4px 12px;
    gap: 4px;
    font-size: 12px;
    font-weight: 500;
    color: #0D0D12;
}
.periods button {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 12px;
    font-weight: 500;
    color: #818898;
}
.periods .active {
    padding: 4px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #ECEFF3;
    font-size: 12px;
    font-weight: 500;
    color: #36394A;
}



.closed {
    display: none;
}
.customDiv {
    display: block;
    position: absolute;
    z-index: 5;
    margin-top: 5px;
    right: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px;
}
.customDiv h4 {
    font-size: 12px;
    font-weight: 500;
    color: #36394A;
    margin-bottom: 12px;
}
.customDiv .dates {
    display: flex;
    gap: 8px;
}
.dates input {
    border: 1.5px solid #a1a8bb;
    background: transparent;
    outline: none;
    font-size: 12px;
    font-weight: 500;
    color: #666D80;
    padding: 8px 12px;
}
.customDiv button {
    width: 100%;
    background: linear-gradient(0deg, #5F57FF, #5F57FF), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 8px;
}




.banksRow {
    width: 100%;
    gap: 12px;
    display: flex;
    overflow-x: scroll;
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 48px;
    padding-bottom: 28px;
}

.banksRow::-ms-scrollbar {
    height: 5px;
    width: 30%;
}
.banksRow::-ms-scrollbar-track {
    background: #FFFFFF;
    border-radius: 10px;
}
.banksRow::-ms-scrollbar-thumb {
    background: #D6301F;
    border-radius: 10px;
}
.banksRow::-ms-scrollbar-thumb:hover {
    background: #D6301F;
}
.banksRow::-ms-scrollbar-button:end:decrement {
    width: 33%;
    display: block;
    background: transparent;
}
.banksRow::-ms-scrollbar-button:start:increment {
    width: 33%;
    display: block;
    background: transparent;
}

.banksRow::-webkit-scrollbar {
    height: 5px;
    width: 30%;
}
.banksRow::-webkit-scrollbar-track {
    background: #FFFFFF;
    border-radius: 10px;
}
.banksRow::-webkit-scrollbar-thumb {
    background: #D6301F;
    border-radius: 10px;
}
.banksRow::-webkit-scrollbar-thumb:hover {
    background: #D6301F;
}
.banksRow::-webkit-scrollbar-button:end:decrement {
    width: 33%;
    display: block;
    background: transparent;
}
.banksRow::-webkit-scrollbar-button:start:increment {
    width: 33%;
    display: block;
    background: transparent;
}

.bankDiv {
    flex-shrink: 0;
    width: 32%;
    background: #FFFFFF;
    border-radius: 24px;
    padding: 24px;
}
.bankDiv .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #E5E7EB;
}
.bankDiv .header h6 {
    font-size: 12px;
    font-weight: 500;
    color: #666D80;
}
.bankDiv .header h5 {
    font-size: 18px;
    font-weight: 600;
    color: #36394A;
}
.bankDiv .header p {
    padding: 8px 12px;
    border-radius: 8px;
    background: #FFF6EB;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    color: #D6301F;
}

.bankDiv .bankInfo {
    margin-top: 24px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.bankInfo .bankImg {
    border-radius: 50px;
    border: 2px solid #F6F6F6;
    width: 30px;
    height: 30px;
}
.bankInfo .infoText {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.bankInfo .infoText h4 {
    font-size: 16px;
    font-weight: 600;
    color: #36394A;
}
.infoText div {
    display: flex;
    gap: 5px;
}
.infoText div p {
    font-size: 14px;
    font-weight: 400;
    color: #36394A;
}
.infoText div b {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #36394A;
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.infoText div button {
    background: transparent;
    outline: none;
    border: none;
}



.summaryHeader {
    font-size: 24px;
    font-weight: 600;
    color: #6B7280;
    margin-bottom: 16px;
}
.tableDiv {
    background: #FFFFFF;
    padding: 16px 24px;
    border-radius: 16px;
}

.summaryTable {
    width: 100%;
    border-collapse: collapse;
}
.summaryTable th {
    padding: 12px 0;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    color: #666D80;
}
.summaryTable tr,
.summaryTable thead {
    border-bottom: 1px solid #DFE1E7;
}
.summaryTable td {
    padding: 12px 0;
    font-size: 14px;
    font-weight: 500;
    color: #0D0D12;
}
.summaryTable .credit {
    color: #65C300;
}