.whole {
    width: 100%;
    height: 100%;
    background-color: #F6F8FA;
    display: flex;
    justify-content: center;
    padding-bottom: auto;
}

.signin {
    width: 30%;
    min-width: 400px;
    height: fit-content;
    margin-top: 100px;
    margin-bottom: 200px;
    padding-bottom: auto;
    border-radius: 24px;
    padding: 34px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.signin .logo {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-bottom: 24px;
}

.signin h3 {
    font-size: 24px;
    font-weight: 600;
    color: #36394A;
    margin-bottom: 40px;
}

.signin label {
    font-size: 14px;
    font-weight: 500;
    color: #0D0D12;
    text-align: left;
}

.signin .emailInput,
.passwordDiv {
    border: 1px solid #ECEFF3;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 10px 12px;
    outline: none;
}
.emailInput {
    margin-bottom: 24px;
}
.passwordDiv {
    display: flex;
    justify-content: space-between;
}
.passwordDiv input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 0;
}
.passwordDiv button {
    outline: none;
    border: none;
    background: transparent;
}
.passwordDiv img {
    width: 14px;
    height: 14px;
}

.signin a {
    margin-top: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #052FC7;
    text-align: right;
}

.signin .signInButton {
    background: linear-gradient(0deg, #5F57FF, #5F57FF), linear-gradient(180deg, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    margin-top: 64px;
    margin-bottom: 24px;
}