.header {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    position: fixed;
    z-index: 10;
    padding: 27px 40px;
    box-shadow: 0px 0px 8px 0px #eaeff4cc;
}

.header .logo {
    width: 40px;
    height: 40px;
}

.header .links {
    display: flex;
    gap: 16px;
}
.header .links button {
    background: #ECEFF3;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #666D80;
    height: fit-content;
    border: none;
}
.header .links .active {
    background: #0D0D12;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
}

.buttons {
    display: flex;
    gap: 9px;
}
.buttons button {
    background: #ECEFF3;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 12px 14px;
}
.buttons button img {
    width: 16px;
    height: 16px;
}
.buttons .profile {
    background: #0D0D12;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 14px;
    display: flex;
    align-items: center;
}

.closed {
    display: none;
}
.signOut {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    border-radius: 10px;
    padding: 8px;
    position: absolute;
    z-index: 5;
    width: 120px;
    margin-top: 50px;
    right: 15px;;
}
.signOut a {
    border: none;
    outline: none;
    background: #FFFFFF;
    color: #4B5563;
    font-size: 12px;
    font-weight: 500;
    padding: 12px 6px;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
}
.signOut a:hover {
    background: #DDE5EFE0;
}